@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
:root {
  --primaryColor: #69bdd6;
  --secColor: #6ecb63;
  --terColor: #ec9cd3;
  --mainWhite: #fbf4e9;
}

.request {
  background-color: rgba(0, 0, 139, 0.308);
  border-radius: 5px;
  border: 1px solid darkblue;
}

.link {
  color: white;
}

.quote {
  font-weight: bold;
  font-style: italic;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--mainWhite);
  font-family: "Cabin";
}

.main-page {
  width: 100vw;
  height: 100vh;
}

.login-form {
  background-color: var(--primaryColor);
  border-radius: 5px;
}

.info-card {
  background-color: var(--primaryColor);
  border-radius: 5px;
}

.main-button {
  background-color: darkblue;
  border-radius: 10px;
}

.main-button-cancel {
  background-color: red;
  border-radius: 10px;
}

.sec-button {
  background-color: white;
  border-radius: 10px;
}

.main-button:hover {
  background-color: darkcyan;
  border-radius: 10px;
}
